html {
  font-size: 62.5%; /* same with 10px */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace; */
}

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
@media screen and (min-width: 939px) {
  html {
    font-size: calc(1rem);
  }
}

.App {
  text-align: center;
  background-color: whitesmoke;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  position: fixed;
  /* App-content.top: 120px */
  /* height: 120px; */
  height: 12rem;
  width: 100%;
  font-size: 1.8rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #282c34;
  padding-top: 10px;
}

.App-header-row {
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* border: 1px solid red; */
}
.App-header-order-message {
  flex: 0.5;
  text-align: left;
  color: gray;
  font-size: 1.2rem;
}

.App-header-order-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-header-order-id {
  text-align: right;
}

.App-header-order-date {
  text-align: right;
}

.App-header-title {
  font-size: 3.5rem;
  color: #ff0000;
  letter-spacing: -1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

/* .App-content {
  background-color: white;
} */

.App-content-header {
  position: fixed;
  top: 12rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: aliceblue; */
  /* height: 1rem; */
  border-bottom: 1.5px solid #b0b0b0;
  background-color: white;
}
.App-content-header-item {
  color: #999;
  flex: 1;
  font-size: 1.8rem;
  font-weight: bold;
  height: 3rem;
}

.App-content-body {
  margin-top: 15rem; /* App-header : height: 12rem */
  margin-bottom: 10rem; /* App-footer.height: 60px */
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  font-size: 2rem;
  overflow-y: auto;
  color: black;
  background-color: white;
}
.App-content-body-item {
  border-bottom: 2.5px solid ghostwhite;
  height: 10vh;
  background-color: white;
  font-size: 1.8rem;
}

.App-footer {
  position: fixed;
  bottom: 0;
  height: 10rem; /* App-content.bottom: 60px */
  width: 100%;
  font-size: 1.8rem;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  /* border: 1px solid blueviolet; */
  padding-left: 10px;
  padding-right: 10px;
}

.App-footer-subtotal {
  display: flex;
  flex-direction: row;
  color: #282c34;
}
.App-footer-tax {
  display: flex;
  flex-direction: row;
  color: gray;
}

.App-footer-grandtotal {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  color: #282c34;
  font-size: 1.9rem;
}

.App-footer-space {
  width: 15px;
}
